@font-face {
    font-family: 'frutiger', Arial, Helvetica, sans-serif;
    src: url('fonts/frutiger');
}

body {
    background-color: #ffffff !important;
    margin: 0;
    font-family: 'frutiger', sans-serif, Helvetica, sans-serif !important;
}

header{
    margin-bottom: 5rem;
}

.navbar {
    color: #FFFF;
    height: 5rem;
    font-size: 1.2rem;
    flex-direction: row-reverse;
    align-content: space-around;
    z-index: -1;
}

.header-bg {
    background-image: url(../img/header-bg.svg) !important; 
    background-color: #e66446;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: -1;
}

.espas_logo {
    width: 10rem;
    margin: 1rem 1rem 0 0;
}

.currentDate {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 0 1rem;
    font-weight: bold;
}

.nav-buttons {
    margin: 0.5rem 0rem 1rem 1rem;;
    display: flex;
    flex-direction: row;
}

.buttons{
    background-color: #eb9646;
    color: #ffff;
    border: none;
    box-shadow: none;
    padding: 0.5rem 3rem !important;
    margin-right: 2.5rem;
}

.buttons:hover{
    background-color: #c56b16;
}

.content{
    display: flex;
    flex-direction: column;
}

.scrolling-list{
    display: flex;
    justify-content: space-evenly;
}

.infinite_scrolling_list_container {
    height: 25vw;
    overflow: auto;
    position: absolute;
    background-color: #F3F1F1;

    ;
}